[submodule "Semana2/Actividad4-CC3S2"]
	path = Semana2/Actividad4-CC3S2
	url = https://github.com/CarlosCCQ/Actividad4-CC3S2.git
[submodule "Semana3/Actividad7-CC3S2"]
	path = Semana3/Actividad7-CC3S2
	url = https://github.com/CarlosCCQ/Actividad7-CC3S2.git
[submodule "Semana2/Actividad5-CC3S2"]
	path = Semana2/Actividad5-CC3S2
	url = https://github.com/CarlosCCQ/Actividad5-CC3S2.git
[submodule "Semana3/Actividad8-CC3S2"]
	path = Semana3/Actividad8-CC3S2
	url = https://github.com/CarlosCCQ/Actividad8-CC3S2.git
[submodule "Tarea-1-Juego-Trivia/Juego-Trivia"]
	path = Tarea-1-Juego-Trivia/Juego-Trivia
	url = https://github.com/CarlosCCQ/Juego-Trivia.git
[submodule "Semana3/Actividad9-CC3S2"]
	path = Semana3/Actividad9-CC3S2
	url = https://github.com/CarlosCCQ/Word-Guessing-Game.git
